/*Created By Jisr on 2018/4/23*/
.theme-color-bg {
    background-color: #2D394C;
}

/*字体颜色*/
.text-white{
    color: #fff;
}
.text-black{
    color: #fff;
}

.text-color-ccc {
    color: #ccc;
}

.text-color-999 {
    color: #999;
}

.text-color-666 {
    color: #666;
}

.text-color-333 {
    color: #333;
}


